body ::selection,
.h2-head:before,
.custam-btn,
.feat .content-feat:hover,
.feat .content-feat i,
.projects ul li:hover,
.projects ul li.selected,
.carousel-indicators li.active,
.foot .overlay-footer .tweets .tweet .blue,
.color-li,
.color,
.skills .progress-bar{
    background-color: rgb(9, 140, 207);
}
.projects .proj .overlay-proj span{
    background-color: #23252a;
}
.contact-me .form-con .btn-primary,
.foot .btn-primary{
    background-color: rgb(9, 140, 207);
    border-color: rgb(9, 140, 207);
}
.contact-me .form-con .btn-primary:hover,
.foot .btn-primary:hover{
    background-color: rgb(42, 142, 193);
    border-color: rgb(42, 142, 193)
}
.span-head,
.navbar ul li a:hover,
.navbar ul li.active,
.home .social-media-home .icon:hover .fa,
.feat .content-feat:hover i,
.feat .content-feat h3,
.reviews .testmonial h2,
.foot .overlay-footer h2,
.foot .overlay-footer h3,
.foot .overlay-footer .social-media .icon:hover i,
.foot .overlay-footer ul li a:hover,
.navbar .social-nav .sub a{
    color: rgba(1, 140, 207, 1)
}
.custam-btn {
    border-color: rgb(9, 140, 207);
}
.navbar ul li.active{
    border-bottom: 3.5px solid rgba(9, 140, 207, 1);
}
.home .overlay-home{
    background-color: rgba(9, 120, 174, .6)
}
.feat .content-feat,
.projects ul li {
    border: 2px solid rgb(9, 140, 207);
}
.feat .content-feat:hover p{
    color: rgb(169, 209, 212)
}
.projects .proj .overlay-proj {
	background-color: rgba(9, 140, 207, .7);
}
.gallery .overlay-gall,
.contact-me .form-con,
.scroll-top{
	background: rgba(9, 140, 207, .8);
}
.contact-me .form-con .main-form span{
    color: #132b63
}
.contact-me .form-con .main-form .mail:after {
	border-top: 65px solid rgba(9, 140, 207, .8);
}

/*--------------------*/
@media (max-width: 350px) {
    .projects ul{
        border-left: 3px solid rgb(9, 140, 207);
    }
    .projects ul li{
    	border: 3px solid transparent;
    }
    .projects ul li{
    	border: none;
    }
    .projects ul li:hover{
        color: rgb(9, 140, 207);
        border: 3px solid rgb(9, 140, 207);
    }
    .projects ul li.selected{
        color: rgb(9, 140, 207);
        border: 3px solid rgb(9, 140, 207);
        background-color: #FFF
    }
}
@media (min-width: 351px) and (max-width: 797px){
    .projects ul{
        border-left: 3px solid rgb(9, 140, 207);
    }
    .projects ul li{
    	border: 3px solid transparent;
    }
    .projects ul li:hover{
        color: rgb(9, 140, 207);
        background-color: #FFF;
        border: 3px solid rgb(9, 140, 207);
        border-left:3px solid #FFF;
    }
    .projects ul li.selected{
        color: rgb(9, 140, 207);
        border: 3px solid rgb(9, 140, 207);
        background-color: #FFF;
        border-left:3px solid #FFF;
    }
}